@font-face{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url(./../fonts/gilroy/Gilroylight.ttf) format("ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/gilroy/Gilroyextrabold.ttf) format("ttf");
}

body {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.15px;
}

a {
  color: #000;
  text-decoration: none;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 2.15px;
  position: relative;
  background-color: transparent;
  border: none;
  padding: 8px 42px;
  z-index: 5;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  -webkit-transition: .25s ease all;
  transition: .25s ease all;
}

.button:hover::before {
  height: 100%;
  top: 0;
}

.button:focus {
  opacity: .6;
  outline: none;
}

.button:focus::before {
  height: 100%;
  top: 0;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.index-header {
  height: 300px;
}

.index-header.main-header::after {
  content: "";
  
  position: absolute;
  left: 600px;
  top: 225px;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.index-header .top-navigation {
  margin-top: 38px;
}

.top-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-nav {
  width: 500px;
  height: 24px;
}

.site-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-logo {
  width: 163px;
  height: 35px;
  position: absolute;
  top: -17.5px;
}

.main-logo:hover {
  opacity: .6 ;
}

.main-logo:focus {
  opacity: .3;
  outline: none;
}

.main-header {
  background-color: #F7E296;
}

.header-left {
  width: 540px;
  margin-right: 0;
}

.search-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.search-field {
  border: none;
  background-color: transparent;
  line-height: 30px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 316px;
  position: relative;
}

.search-container::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 10px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg-device/search.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
}

.search-field::-webkit-input-placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.search-field::-moz-placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.search-field:-ms-input-placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.search-field::-ms-input-placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.search-field::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.search-field:hover::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-moz-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-ms-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  outline: 0;
  border: 2px solid #000;
  border-top: 2px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
}

.search-field:focus::-webkit-input-placeholder {
  color: #000;
}

.search-field:focus::-moz-placeholder {
  color: #000;
}

.search-field:focus:-ms-input-placeholder {
  color: #000;
}

.search-field:focus::-ms-input-placeholder {
  color: #000;
}

.search-field:focus::placeholder {
  color: #000;
}

.search-button {
  visibility: hidden;
  background-color: transparent;
  border: 2px solid #000;
  font-family: inherit;
  text-transform: capitalize; 
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-left: -4px;
  font-weight: 300;
  letter-spacing: 0.15px;
  padding: 8px 9px;
}

.search-button:hover {
  background-color: #000000;
  color: #fff;
}

.search-button:focus {
  outline: 0;
  background-color: #000000;
  color: rgba(255, 255, 255, .3);
}

.search-container:focus-within .search-button {
  visibility: visible;
}

.user-navigation a{
  color: #000;
  text-decoration: none;
  position: relative;
}

.user-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
  outline: 0;
}

.user-navigation {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-header .compare {
  margin-left: 218px;
  margin-right: auto;
}

.user-nav-link.sign-in {
  padding-left: 27px;
}

.user-nav-link.sign-in::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg-device/user.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
}

.user-nav-link.compare {
  padding-left: 20px;
}

.user-nav-link.compare::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg-device/compare.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
}

.user-nav-link.bucket {
  padding-left: 24px;
}

.user-nav-link.bucket::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../img/svg-device/cart.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
}

.user-navigation a:hover::before {
  opacity: 0.6; 
}

.user-navigation a:focus::before {
  opacity: 0.3; 
}

.header-bottom {
  margin-top: 28px;
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-warranty {
  margin-left: 38px;
  margin-right: auto;
}

.header-bottom .nav-link {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-navigation .nav-link:hover {
  opacity: .6;
}

.main-navigation .nav-link:focus {
  opacity: .3;
  outline: none;
}

.catalog-wrapper:hover .catalog-menu,
.catalog-wrapper:focus-within .catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 66;
}

.catalog-wrapper {
  position: relative;
}

.catalog-opener {
  padding-right: 30px;
  position: relative;
}

.catalog-opener::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background-image: url(../img/svg-device/plus.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: block;
  opacity: 0.3;
}

.catalog-opener:hover {
  opacity: 0.6;
}

.catalog-opener:focus {
  opacity: 0.3;
  outline: none;
}

.catalog-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 30px;
  left: -60px;
  width: 1100px;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 60px;
  background-color: #f7e296;
  display: none;
}

.catalog-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu ul:nth-child(2n) {
  margin-left: 58px;
  margin-right: 77px;
}

.catalog-menu a {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;     
}

.catalog-menu a:hover {
  opacity: 0.6;
}

.catalog-menu a:focus {
  opacity: 0.3;
  outline: none;
}

.slider {
  position: relative;
  top: -112px;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.slide {
  display: none;
  padding-right: 60px;
  position: relative;
}

#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide::after {
  content: "";
  
  position: absolute;
  top: -11px;
  right: 55px;
  color: #fff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
  letter-spacing: 0.36px;
  z-index: 2;
}

.slide-1::after {
  content: "01";
}

.slide-2::after {
  content: "02";
}

.slide-3::after {
  content: "03";
}

.slide-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.slide-content {
  width: 500px;
}

.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  color: #000;
  margin-top: 80px;
  margin-bottom: 18px;
  position: relative;
  z-index: 10;
}

.slide-subtitle {
  margin-bottom: 47px;
}

.slide-toggler:first-child:focus ~ .slider-controls .dot-1,
.slide-toggler:nth-child(2):focus ~ .slider-controls .dot-2,
.slide-toggler:nth-child(3):focus ~ .slider-controls .dot-3 {
  outline: -webkit-focus-ring-color auto 1px;
}

.slider-controls {
  font-size: 0;
  
  position: absolute;
  left: 1000px;
  top: 328px;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  
  background: url(../img/svg-device/slider-button-empty.svg) no-repeat 0 0 / contain;
  cursor: pointer;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  background: url(../img/svg-device/slider-button.svg) no-repeat 0 0 / cover;
}


.slide-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 56px;
  list-style: none;
}

.slide-desc li {
  margin-right: 60px;
}

.slide-desc .desc-top {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  display: block;
}

.slide-desc .desc-bottom {
  font-family: inherit;
  color: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  display: block;
}

.categories {
  margin-bottom: 173px;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-link {
  display: block;
  width: 160px;
}

.category-box {
  width: 160px;
  height: 160px;
  background-color: rgba(240,197,46, .5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.05s ease all;
  transition: 0.05s ease all;
}

.box-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.category-img {
  color: #000;
}


.category-link:hover .category-box {
  background-color: #f0c52e;
}

.category-link:focus {
  
  outline: none
}

.category-link:focus .category-box {
  background-color: #f0c52e;;
}

.category-link:focus .category-img {
  opacity: 0.3;
}

.category-link:focus .category-title {
  opacity: 0.3;
}

.category-box:focus {
  background-color: #f0c52e;
}

.category-title {
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .18px;
}

.services {
  margin-bottom: 94px;
  background-color: #e5e5e5;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-container {
  position: relative;
  top: -93px;
  margin-top: 80px;
}

.services-list {
  -ms-flex-preferred-size: 273px;
  flex-basis: 273px;
  min-height: 319px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 7px solid #000;
}

.services-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 75px;
  width: 100%;
}

.service-tab {
  margin-bottom: 28px;
  width: 100%;
}

.service-tab:first-child {
  margin-top: 0;
}

.service-tab-active {
  background-color: #000;
}

.service-tab-active .button {
  color: #f7e184;
}

.service-tab-active .button::before {
  display: none;
}

.services-menu .button {
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 160px;
  text-align: center;
  cursor: pointer;
}

.services-menu .button:focus {
  color: #f7e184;
}

.service-info {
  -ms-flex-preferred-size: 880px;
  flex-basis: 880px;
  display: none;
  position: relative;
  margin-top: 66px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.service-delivery .service-info-wrapper {
  margin-left: 116px;
  margin-right: 334px;
}

.service-warranty .service-info-wrapper {
  margin-left: 116px;
  margin-right: 324px;
}

.service-credit .service-info-wrapper {
  margin-right: 336px;
  margin-left: 116px;
}


.service-info-active {
  display: block;
}

.service-delivery::before {
  content: "";
  width: 136px;
  height: 164px;
  background: url(../img/svg-device/delivery.svg) 0 0 no-repeat;
  background-size: cover;
  
  position: absolute;
  right: 85px;
  top: 12px;
}

.service-warranty::before {
  content: "";
  width: 171px;
  height: 194px;
  background: url(../img/svg-device/warranty.svg) 0 0 no-repeat;
  background-size: cover;
  
  position: absolute;
  right: 85px;
  top: -12px;
}

.service-credit::before {
  content: "";
  width: 156px;
  height: 14px;
  background: url(../img/svg-device/credit.svg) 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  right: 85px;
  top: -12px;
}

.service-title {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 0;
}

/* PARTNERS */

.partners {
  margin-bottom: 60px;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partner-link {
  display: block;
  height: 100px;
  position: relative;
}

.partner-link:hover::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
}

.partner-dji:hover::before {
  content: url(../img/logo-1.jpg_copy.jpg);
}

.partner-sp:hover::before {
  content: url(../img/logo-2.jpg_copy.jpg);
}

.partner-gopro:hover::before {
  content: url(../img/logo-3.jpg_copy.jpg);
}

.partner-vive:hover::before {
  content: url(../img/logo-4.jpg_copy.jpg);
}

/* About us & Contacts*/

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 85px;
}

.section-mini {
  padding-top: 58px;
  position: relative;
}

.section-mini::before {
  content: "";
  
  width: 80px;
  height: 7px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us {
  width: 600px;
}

.section-title {
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin: 0;
  margin-bottom: 40px;
}

.about-content {
  width: 462px;
  margin-bottom: 60px;
}

.section-desc:first-child {
  margin-top: 0;
  margin-bottom: 30px;
}

.section-desc:nth-child(2) {
  margin-top: 0;
  margin-bottom: 35px;
}

.transport-partners {
  margin: 0;
  padding: 0;
  list-style: none;
}

.transport-partner {
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  padding-left: 35px;
  position: relative;
}

.transport-partner::before {
  content: "";
  
  width: 8px;
  height: 8px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  
  position: absolute;
  left: 1px;
  top: calc(50% - 4px);
}

.section-mini .button {
  font-size: 18px;
}

.aboutus-button {
  padding: 8px 22px;
}

/* Contact Us */

.contacts {
  width: 560px;
}

.map-button {
  padding: 0;
  border: none;
  margin-top: 38px;
  margin-bottom: 65px;
  cursor: pointer;
  display: block;
}

/* Footer */

.footer {
  background-color: #464646;
  color: #fff;
  padding: 65px 0;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer p {
  margin: 0;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  fill: #ffc600;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  opacity: 0.3;
  outline: none;
}

.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-navigation li {
  position: relative;
  height: 36px;
}

.index-footer .footer-compare {
  margin-left: 44px;
  margin-right: 41px;
}

.footer-navigation li:last-child {
  margin-right: 0px;
}

.footer-navigation a {
  color: #fff;
  opacity: 0.7;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  position: relative;
  display: block;
}

.footer-signin-link {
  padding-left: 27px;
}

.footer-compare-link {
  padding-left: 20px;
}

.footer-bucket-link {
  padding-left: 24px;
}

.footer-navigation li::before {
  content: "";
  width: 20px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 1.7;
}

.footer-signin::before {
  background: url(../img/svg-device/user-gold.svg) 0 50% no-repeat;
}

.footer-compare::before {
  background: url(../img/svg-device/compare-gold.svg) 0 50% no-repeat;
}

.footer-bucket::before {
  background: url(../img/svg-device/cart-gold.svg) 0 50% no-repeat;
}

.footer-navigation a:hover {
  opacity: 1;
}

.footer-navigation li:hover::before {
  opacity: 0.6;
}

.footer-navigation li:focus-within {
  opacity: .3;
  outline: none;
}

.footer-navigation a:focus {
  outline: none;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 68px;
}

.footer-middle a {
  color: #fff;
}

.footer-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
}

.footer-services li {
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-right: 38px;
}

.footer-services li:last-child {
  margin-right: 0;
}

.footer-services a {
  color: #fff;
}

.footer-services a:hover {
  opacity: 0.6;
}

.footer-services a:focus {
  opacity: 0.3;
  outline: none;
}

.logo-html img{
  vertical-align: middle;
}

.logo-html:hover {
  opacity: .6;
}

.logo-html:focus {
  opacity: 0.3;
  outline: none;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.stick {
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list li {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 23px;
  background-color: #464646;
}

.social-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.3;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}

.social-fb {
  background: url(../img/svg-device/fb.svg) 0 50% no-repeat;
}

.social-insta {
  background: url(../img/svg-device/instagram.svg) 0 50% no-repeat;
}

.social-twit {
  background: url(../img/svg-device/twitter.svg) 0 50% no-repeat;
}

.social-link:hover {
  opacity: .6;
}

.social-link:focus {
  opacity: 0.1;
}

.social-list li:last-child {
  margin-right: 0;
}

/* Catalog Page */
.close {
  color: #000;
  opacity: 0.3;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin-left: 20px;
  margin-right: 65px;
}

.catalog-main-header .bucket {
  margin-left: auto;
}

.catalog-main-header > .top-navigation {
  margin-top: 30px;
}

.crumbs {
  padding-left: 60px;
  margin-top: 0px;
  margin-bottom: 45px;
}

.section-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.17px; 
  margin-bottom: 20px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 40px;
  text-transform: capitalize;
  position: relative;
}

.breadcrumbs-item a {
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumb-disabled:hover {
  opacity: 0.3;
}

.breadcrumb-hover:hover {
  opacity: 0.6;
}

.breadcrumbs-item a:focus {
  opacity: 0.1;
  outline: none;
}

.breadcrumbs-item::before {
  content: "";
  
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  right: -40px;
  background-color: #000;
  background: url(../img/svg-device/nav-arrow.svg) 50% 50% no-repeat; 
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.catalog-header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(219,219,219,1)), color-stop(25%, rgba(219,219,219,1)), color-stop(25%, rgba(235,235,235,1)), to(rgba(235,235,235,1)));
  background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 25%, rgba(235,235,235,1) 25%, rgba(235,235,235,1) 100%);
}

.catalog-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filtr-header {
  width: 200px;
  background-color: #DBDBDB;
  padding: 25px 68px 25px 60px;
  display: block;
  
}


.header-title {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  margin: 0;
}

.sort-header {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #EBEBEB;
  padding-top: 22px;
  padding-bottom: 22px;
}

.sort-container {
  width: 760px;
  margin-left: auto;
}

.sort-header .sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.sort-types {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-type {
  margin-right: 30px;
}

.sort-type a {
  display: block;
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sort-type a:hover {
  opacity: 0.6;
}

.sort-type a:focus {
  opacity: 1;
  outline: none;
}

.sort-type:last-child {
  margin-right: 0;
}

.sort-type-active a {
  opacity: 1;
}

.sort-narrows {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.narrow {
  display: inline-block;
  vertical-align: middle;
}

.narrow:first-child {
  margin-right: 15px;
}

.narrow a {
  width: 11px;
  height: 10px;
  display: block;
}

.narrow-up {
  background: url(../img/svg-device/icon-up-dir.svg) 0 0 no-repeat;
}

.narrow-down {
  background: url(../img/svg-device/icon-down-dir.svg) 0 0 no-repeat;
}

.narrow-disabled {
  opacity: 0.2;
}

.catalog-content {
  background: -webkit-gradient(linear, left top, right top, from(rgba(239,239,239,1)), color-stop(25%, rgba(239,239,239,1)), color-stop(25%, rgba(255,255,255,1)), to(rgba(255,255,255,1)));
  background: linear-gradient(90deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
}

.catalog-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filtr-section {
  width: 200px;
  padding-top: 65px;
  padding-right: 68px;
  padding-left: 60px;
  background-color: #efefef;
}

.filtr-part {
  border: none;
  padding: 0 0 30px 0;
  margin: 0;
  position: relative;
}

.filtr-part::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.filtr-title {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  padding-top: 12px;
}

.filtr-part ul {
  padding: 0;
  list-style: none;
}

.filtr-section label {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.sort-item {
  color: #000000;
  opacity: 0.3;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.sort-item.active {
  opacity: 1;
}

.range-controls {
  position: relative; 
  margin-bottom: 5px;
  margin-top: 37px;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.range-toggle {
  width: 20px;
  height: 22px;
  
  background-image: url(../img/svg-device/filter-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  top: -11px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 110px;
}

.range-toggle:active {
  width: 22px;
  height: 24px;
  top: -12px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.2;
  cursor: pointer;
  width: 90px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.checkbox-list {
  margin: 0;
  margin-top: 18px;
}

.filtr-check {
  padding-left: 38px;
  position: relative;
}

.filtr-check-input {
  position: absolute;
}

.styled-checkbox {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 23px;
  height: 23px;
  background: url(../img/svg-device/checkbox-off.svg);
}

.styled-checkbox:hover {
  opacity: 0.6;
}

.filtr-check-input:checked + .styled-checkbox {
  width: 27px;
  background-image: url(../img/svg-device/checkbox-on.svg);
}

.filtr-check-input:checked + .styled-checkbox:hover {
  opacity: 0.6;
}

.filtr-check-input:disabled + .styled-checkbox {
  opacity: 0.25;
}

.filtr-check-input:focus + .styled-checkbox {
  outline: -webkit-focus-ring-color auto 1px;
}

.filtr-check-input:disabled + .styled-checkbox:hover {
  opacity: 0.25;
}

.radio-list {
  margin: 0;
  margin-top: 20px;
}

.filtr-radio {
  padding-left: 38px;
  position: relative;
}

.styled-radio {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: -2px;
  background-image: url(../img/svg-device/radio-off.svg);
}

.filtr-radio-input:checked + .styled-radio {
  background-image: url(../img/svg-device/radio-on.svg);
}

.filtr-radio-input:focus + .styled-radio {
  outline: -webkit-focus-ring-color auto 1px;
}

/* Products */

.products {
  padding-top: 66px;
  margin-left: auto;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.product {
  width: 360px;
  margin-bottom: 50px;
  position: relative;
}

.product:nth-child(3) {
  margin-bottom: 0;
}

.product:last-child {
  margin-bottom: 0;
}

.product-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 360px;
  background-color: rgba(235,235,235, 0.7);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product img {
  max-width: 100%;
}

.wishlist-link {
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;;
}

.wishlist-link:hover {
  opacity: 1;
}

.wishlist-link:focus {
  opacity: 0.2;
}

.img-hover-wrapper {
  cursor: pointer;
  background-color: #eee;
}

.img-hover-wrapper:hover .product-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-text {
  margin-top: 40px;
}

.product-text::before {
  content: "";
  display: table;
  clear: both;
}

.product-title {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  float: left;
}

.product-price {
  color: #464646;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  float: right;
  margin: 0;
}

.product-new::before {
  content: "new";
  
  position: absolute;
  top: 28px;
  right: 27px;
  
  text-transform: uppercase;
  opacity: 0.2;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 50%;
}

.pagination {
  background-color: #EBEBEB;
  margin-bottom: 77px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-narrow {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  display: block;
  padding: 25px 35px;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}

.page-narrow:hover {
  background-color: #D8D8D8;
}

.page-narrow:focus {
  background-color: #D8D8D8;
  opacity: 0.3;
  outline: none;
}

.pagination-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-numbers li {
  margin-right: 31px;
}

.pagination-numbers li:last-child {
  margin-right: 0;
}

.pagination-item {
  opacity: 0.3;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.pagination-item-active {
  opacity: 1;
}

.catalog-footer .footer-close::before {
  display: none;
}

.catalog-footer .footer-signin {
  margin-right: 0;
}

.catalog-footer .footer-close {
  opacity: 0.3;
  margin-left: 20px;
  margin-right: 44px;
}

.catalog-footer .footer-compare {
  margin-right: 41px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(2000px, 2000px);
            transform: translate(2000px, 2000px);
  }
  
  30% {
    -webkit-transform: translate(-55%, -55%);
            transform: translate(-55%, -55%);
  }
  
  60% {
    -webkit-transform: translate(-45%, -45%);
            transform: translate(-45%, -45%);
  }
  
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(2000px, 2000px);
            transform: translate(2000px, 2000px);
  }
  
  30% {
    -webkit-transform: translate(-55%, -55%);
            transform: translate(-55%, -55%);
  }
  
  60% {
    -webkit-transform: translate(-45%, -45%);
            transform: translate(-45%, -45%);
  }
  
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
  
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-51%, -50%);
            transform: translate(-51%, -50%);
  }
  
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}

.modal {
  position: fixed;
  width: 960px;
  background-color: #fff;
  z-index: 99;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-close {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 22px;
  right: 22px;
  
  border: none;
  padding: 0;
  
  opacity: 0.5;
  background: url(../img/svg-device/modal-close.svg) 0 0 no-repeat;
  background-size: cover;
  
  cursor: pointer;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 0.3;
}

.modal-write-us {
  padding: 96px 100px 80px;
  display: none;
}

.modal-map {
  height: 559px;
  display: none;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-label {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.form-input {
  width: 360px;
  display: block;
  border: none;
  background-color: #f2f2f2;
  line-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-top: 10px;
}

.form-input:hover {
  background-color: #EBEBEB;
}

.form-input:focus {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(240,197,46,0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(240,197,46,0.5);
  outline: none;
}

.form-input::-webkit-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form-input::-moz-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form-input:-ms-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form-input::-ms-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form-input::placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.form-input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.letter-area {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-top: 36px;
}

.form-textarea:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-textarea {
  border: none;
  background-color: #f2f2f2;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-top: 10px;
  height: 156px;
}

.form-textarea::-webkit-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; 
}

.form-textarea::-moz-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; 
}

.form-textarea:-ms-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; 
}

.form-textarea::-ms-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; 
}

.form-textarea::placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; 
}

.form-textarea:hover {
  background-color: #EBEBEB;
}

.form-textarea:focus {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(240,197,46,0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(240,197,46,0.5);
  outline: none;
}

.write-us-form .button {
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 40px;
}

.modal-opened {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s; 
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}